.imageButton {
    width: 100px;
    height: 50px;
    border: none;
    background-image: url(img/japaneseCat.jpg);
    background-size: cover;
  }

  .foodButton {
    width: 200px;
    height: 200px;
    border: none;
    background-image: url(img/foodButton.png);
    background-size: cover;
    text-align: center;
      font-family: Arial;
      font-size: 29px;
      color: #FFFFFF;
      text-shadow: 
        -0   -3px 0   #000000,
         0   -3px 0   #000000,
        -0    3px 0   #000000,
         0    3px 0   #000000,
        -3px -0   0   #000000,
         3px -0   0   #000000,
        -3px  0   0   #000000,
         3px  0   0   #000000,
        -1px -3px 0   #000000,
         1px -3px 0   #000000,
        -1px  3px 0   #000000,
         1px  3px 0   #000000,
        -3px -1px 0   #000000,
         3px -1px 0   #000000,
        -3px  1px 0   #000000,
         3px  1px 0   #000000,
        -2px -3px 0   #000000,
         2px -3px 0   #000000,
        -2px  3px 0   #000000,
         2px  3px 0   #000000,
        -3px -2px 0   #000000,
         3px -2px 0   #000000,
        -3px  2px 0   #000000,
         3px  2px 0   #000000,
        -3px -3px 0   #000000,
         3px -3px 0   #000000,
        -3px  3px 0   #000000,
         3px  3px 0   #000000,
        -3px -3px 0   #000000,
         3px -3px 0   #000000,
        -3px  3px 0   #000000,
         3px  3px 0   #000000;
  }